In [3]:
import pandas as pd

df = pd.read_csv("Data/StockReturns.csv")

In [4]:
df

                 0         1
0     0.000000e+00  0.000000
1     6.382935e-03  0.011799
2     7.046416e-04  0.009329
3    -1.408429e-03 -0.005777
4    -6.247075e-08 -0.004067
...            ...       ...
6017  6.102374e-03  0.002802
6018  1.154373e-02  0.003726
6019  1.353965e-02  0.020882
6020  1.908455e-03  0.001364
6021  1.104760e-02  0.006355

[6022 rows x 2 columns]

In [11]:
import numpy as np

In [15]:
alfa = df["0"]

In [17]:
alfa[:1]

0    0.0
Name: 0, dtype: float64

In [36]:
alfa[:1].iloc[-1]

np.float64(0.0)

In [ ]:
first_return = []
first_volatility = []
for i in range(1,10,1):
    ind_returns = np.prod(alfa[:i]+1)-1
    ind_vol = np.std(alfa[:i])

    first_return.append(ind_returns)
    first_volatility.append(ind_vol)

total_return = (df["0"]+1).rolling(10).apply(np.prod, raw=True) -1
total_volatilty = df["0"].rolling(10).std()

In [52]:
first_volatility

[np.float64(0.0),
 np.float64(0.00319146771802965),
 np.float64(0.002857376526811778),
 np.float64(0.0029647460863918675),
 np.float64(0.002711886993854024),
 np.float64(0.0026309959429882484),
 np.float64(0.0024362455441195993),
 np.float64(0.004388544575696765),
 np.float64(0.004164885775663658)]

In [45]:
hotel = (df["0"]+1).rolling(10).apply(np.prod, raw=True)

In [2]:
import pandas as pd
import numpy as np

In [3]:
ret = pd.read_csv("Data/Input/StockReturns.csv")
vol = pd.read_csv("Data/Input/StockVolume.csv")
rollret = pd.read_csv("Data/Input/RollingRet.csv")
rollvol = pd.read_csv("Data/Input/RollingVol.csv")

In [6]:
pd.concat([ret,vol,rollret,rollvol],axis=1)

,0,1,0,1,0,1,0,1
0,0.000000e+00,0.000000,-0.556646,-0.677533,0.000000,0.000000,0.000000,0.000000
1,6.382935e-03,0.011799,-0.556646,-0.677533,0.006383,0.011799,0.003191,0.005900
2,7.047305e-04,0.009329,-1.041709,-0.339750,0.007092,0.021239,0.002857,0.005081
3,-1.408429e-03,-0.005777,-1.041709,-0.339750,0.005674,0.015339,0.002965,0.007084
4,-1.512966e-07,-0.004067,-0.522498,-0.504454,0.005674,0.011209,0.002712,0.007081
...,...,...,...,...,...,...,...,...
6017,6.102374e-03,0.002802,-0.801729,0.130957,0.006499,-0.023647,0.009699,0.006975
6018,1.154373e-02,0.003726,-0.740337,-0.177546,0.029265,-0.014632,0.009320,0.007126
6019,1.353965e-02,0.020882,-0.740337,-0.177546,0.034347,0.016166,0.009776,0.009345
6020,1.908455e-03,0.001364,-0.609982,-0.318216,0.031029,0.015207,0.009767,0.009342
6021,1.104760e-02,0.006355,-0.609982,-0.318216,0.055268,0.030683,0.008394,0.008689