In [3]:
import pandas as pd

df = pd.read_csv("Data/StockReturns.csv")

In [4]:
df

                 0         1
0     0.000000e+00  0.000000
1     6.382935e-03  0.011799
2     7.046416e-04  0.009329
3    -1.408429e-03 -0.005777
4    -6.247075e-08 -0.004067
...            ...       ...
6017  6.102374e-03  0.002802
6018  1.154373e-02  0.003726
6019  1.353965e-02  0.020882
6020  1.908455e-03  0.001364
6021  1.104760e-02  0.006355

[6022 rows x 2 columns]

In [11]:
import numpy as np

In [15]:
alfa = df["0"]

In [17]:
alfa[:1]

0    0.0
Name: 0, dtype: float64

In [36]:
alfa[:1].iloc[-1]

np.float64(0.0)

In [ ]:
first_return = []
first_volatility = []
for i in range(1,10,1):
    ind_returns = np.prod(alfa[:i]+1)-1
    ind_vol = np.std(alfa[:i])

    first_return.append(ind_returns)
    first_volatility.append(ind_vol)

total_return = (df["0"]+1).rolling(10).apply(np.prod, raw=True) -1
total_volatilty = df["0"].rolling(10).std()

In [52]:
first_volatility

[np.float64(0.0),
 np.float64(0.00319146771802965),
 np.float64(0.002857376526811778),
 np.float64(0.0029647460863918675),
 np.float64(0.002711886993854024),
 np.float64(0.0026309959429882484),
 np.float64(0.0024362455441195993),
 np.float64(0.004388544575696765),
 np.float64(0.004164885775663658)]

In [45]:
hotel = (df["0"]+1).rolling(10).apply(np.prod, raw=True)

In [15]:
import pandas as pd
import numpy as np

In [18]:
alfa = np.array([0,1,5,4])
alfa = alfa.reshape(-1,1)

In [19]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
k = scaler.fit_transform(alfa)
k

array([[-1.21267813],
       [-0.72760688],
       [ 1.21267813],
       [ 0.72760688]])

In [48]:
hotel

0       1.000000
1       1.006383
2       1.007092
3       1.005674
4       1.005674
          ...
6017    1.006499
6018    1.029265
6019    1.034347
6020    1.031029
6021    1.055268
Name: 0, Length: 6022, dtype: float64