In [1]:
import numpy as np
import pandas as pd

In [2]:
alfa = pd.read_csv("EndResults/run0/attribution.csv")
bravo = pd.read_csv("EndResults/run1/attribution.csv")
charlie = pd.read_csv("EndResults/run2/attribution.csv")
delta = pd.read_csv("EndResults/run3/attribution.csv")

In [3]:
runs = [alfa, bravo, charlie, delta]

In [4]:
# run
# cols: all / sel
# col[0]: mu / sig / cum
alfa

,0,1
0,"[array([ 0.27, -0.14, 0.44, -0.17, -0.22, -0....","[array([ 0.63, -0.44, 0.52, -0.09, -0.08, -0...."
1,"[array([-0.09, 0.04, -0.23, -0.12, -0.25, -0....","[array([-0.21, -0.23, 0.34, -0.11, -0.12, 0...."
2,"[array([-0.06, 0.15, -0.36, -0.35, -0.19, 0....","[array([ 0.01, -0.08, 0.18, 0.15, -0.25, -0...."
3,"[array([-0.18, -0.17, -0.19, -0.28, -0.05, -0....","[array([ 0.01, -0.39, 0.38, -0.03, 0.26, 0...."
4,"[array([-0.01, 0.28, -0.58, -0.07, -0.01, -0....","[array([-0.43, -0.21, 0.09, -0.1 , 0.33, -0...."

In [5]:
mean_all = []
std_all = []
cum_all = []

mean_sel = []
std_sel = []
cum_sel = []

for i in range(0,4,1): # runs
    for j in range(0, 5, 1): # algs
        # for y in range(0,3,1): # stat
        hotel = runs[i].iloc[j, 0]
        hotel = hotel.replace('array', 'np.array')
        hotel = eval(hotel, {"np":np})
        fox = runs[i].iloc[j, 1]
        fox = fox.replace('array', 'np.array')
        fox = eval(fox, {"np":np})
        mean_sel.append(fox[0])
        std_sel.append(fox[1])
        cum_sel.append(fox[2])
        mean_all.append(hotel[0])
        std_all.append(hotel[1])
        cum_all.append(hotel[2])

In [26]:
papa = [[cum_sel[i+j] for i in range(0,20,5)] for j in range(5)]

In [27]:
np.mean(papa, axis=1)

array([[-0.595 , -1.685 ,  0.36  ,  0.175 , -0.0575,  0.285 ],
       [ 1.5125, -1.2175, -3.97  ,  1.4275, -1.095 , -0.57  ],
       [-1.535 , -1.1575, -3.09  , -1.0775,  0.27  , -1.17  ],
       [-0.8375, -0.995 , -0.56  ,  1.4175,  0.53  , -0.075 ],
       [-1.965 , -0.3575,  2.2075, -0.42  ,  0.18  , -0.2975]])