In [1]:
# Import libraries and custom modules
import numpy as np
import pandas as pd

from src.Data_Retriever import DataRetriever as DatRet

from src.Optimization.Markowitz_PT import MarkowitzPT as MPT

from src.Optimization.Environment import PortfolioEnvironment as PorEnv
from src.Optimization.RLModelCompilation import RL_Model as RLM

from src.Analysis.Menchero_OGA import MencheroOGA as MOGA
from src.Analysis.IndPortResults import GenerateResult as GR
from src.Analysis.OverviewResults import ResultConveyor as RC

import time
"""------------------------------------------------"""
# Start timer
start_time = time.time()
"""------------------------------------------------"""
# Define variables for securitiy pool
n_sectors = 6
n_stocks_per_sector = 3

# Define variables for benchmark
trading_n = 800
history_usage = int(100)

# For RL algorithm
history_usage_RL = 50
rolling_reward_window = 50
"""------------------------------------------------"""
# Defining security pool
ticker_df =  pd.DataFrame({
    "Petroleum": ["EQNR.OL", "SUBC.OL", "BWO.OL"],
    "Food": ["ORK.OL", "MOWI.OL", "LSG.OL"],
    "Materials": ["NHY.OL", "YAR.OL", "RECSI.OL"],
    "Technologies": ["TEL.OL", "NOD.OL", "ATEA.OL"],
    "Financial": ["STB.OL", "DNB.OL", "AKER.OL"],
    "Shipping":["SNI.OL", "BELCO.OL", "ODF.OL"]
})
"""------------------------------------------------"""
# Defining ESG scores for respective securities
esg_scores = np.array([
    36.6, 17.9, 18, 
    18, 23.2, 29.2, 
    15.7, 25.4, 25.6, 
    19.8, 13.8, 18.1, 
    17.3, 14, 12.3, 
    21.2, 26.8, 24.9
])

In [2]:
esg_compliancy = [False]
objectives = ["Calmar"]

for i in range(len(objectives)):
    reinforcement = RLM(esg_scores, 
                        objective=objectives[i],
                        history_usage=history_usage_RL,
                        rolling_reward_window=rolling_reward_window,
                        total_timesteps=3_000,
                        esg_compliancy=esg_compliancy[i], 
                        gen_validation_weights=False,
                        production=True
                        )
    reinforcement.train_model()
    hola = reinforcement.predict()

Using cpu device

Output()

Initial training phase complete.
Dynamic prediction with transfer learning complete.

In [3]:
alfa = pd.DataFrame(np.array(hola[0]).squeeze())
bravo = pd.DataFrame(np.array(hola[2]).squeeze())
charlie = pd.DataFrame(np.array(hola[4]).squeeze())

In [4]:
alfa.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
961,0.086270,0.056495,0.023250,0.026656,0.008020,0.052444,0.103888,0.100182,0.088620,0.095235,0.059449,0.014778,0.020393,0.086600,0.060646,0.077893,0.030435,0.008746
962,0.026940,0.080841,0.088256,0.072127,0.001692,0.035856,0.086752,0.010921,0.085172,0.004103,0.108960,0.014026,0.110639,0.059965,0.101020,0.031578,0.012452,0.068699
963,0.025591,0.031855,0.014895,0.024822,0.106384,0.031714,0.026611,0.097333,0.093481,0.110240,0.097621,0.036627,0.006849,0.102213,0.040388,0.047660,0.084004,0.021712
964,0.034309,0.059327,0.034029,0.087741,0.006343,0.051442,0.042732,0.065004,0.049138,0.063411,0.061406,0.084528,0.087681,0.071513,0.079936,0.037934,0.080447,0.003079
965,0.092214,0.010320,0.013587,0.008598,0.039373,0.063765,0.101102,0.068701,0.059961,0.100681,0.106426,0.009055,0.041974,0.097968,0.095231,0.008412,0.070544,0.012087

In [5]:
bravo.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
961,0.007359,0.071005,0.014826,0.066456,0.080136,0.078646,0.081792,0.004973,0.096271,0.068425,0.087987,0.027295,0.002491,0.057662,0.086885,0.047876,0.080375,0.039540
962,0.025343,0.066192,0.001188,0.060374,0.105443,0.079078,0.093484,0.036666,0.098103,0.042199,0.082909,0.019907,0.019505,0.091046,0.061747,0.057046,0.050032,0.009738
963,0.008047,0.078424,0.125365,0.013922,0.041159,0.122014,0.063012,0.028226,0.034506,0.017870,0.031519,0.092086,0.007262,0.063937,0.070724,0.012913,0.133428,0.055587
964,0.083601,0.077052,0.061350,0.084921,0.002649,0.031193,0.076802,0.018916,0.006941,0.042487,0.090075,0.095896,0.079466,0.040010,0.075566,0.074741,0.026535,0.031797
965,0.033825,0.085436,0.096823,0.051994,0.052653,0.055904,0.060880,0.070727,0.044376,0.040401,0.083727,0.025741,0.069355,0.073466,0.057661,0.009388,0.021177,0.066466

In [6]:
charlie.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
961,0.080143,0.013887,0.029403,0.090813,0.083444,0.037055,0.099402,0.093437,0.055290,0.012030,0.060428,0.022826,0.044683,0.037819,0.098846,0.029859,0.062917,0.047716
962,0.004506,0.072428,0.039919,0.064257,0.099910,0.002600,0.028289,0.035873,0.048311,0.019537,0.088363,0.087745,0.080208,0.045955,0.072529,0.061277,0.078092,0.070200
963,0.098950,0.064270,0.096839,0.000251,0.045402,0.071999,0.018661,0.024745,0.071435,0.063037,0.033673,0.043535,0.034426,0.049425,0.101493,0.080063,0.033728,0.068067
964,0.081768,0.060409,0.039774,0.096657,0.008406,0.104347,0.088263,0.094168,0.074479,0.005481,0.027169,0.096176,0.011217,0.057215,0.068853,0.045945,0.005252,0.034423
965,0.071442,0.018571,0.080386,0.067290,0.073858,0.037730,0.078673,0.025714,0.023467,0.075707,0.043591,0.040339,0.064865,0.048885,0.068277,0.080068,0.039059,0.062078

In [2]:
import numpy as np

In [3]:
alfa = [[np.float64(67), np.float64(38)]]

In [5]:
np.array(alfa).flatten()

array([67., 38.])