In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv('myDF.csv')
df.iloc[0,0]

'[0.05354883 0.03036533 0.05940507 0.04824982 0.00651599 0.06750181\n 0.05266209 0.05438658 0.00886398 0.03116151 0.02565495 0.06412144\n 0.04454804 0.05692561 0.03067915 0.0157223  0.03837087 0.00441542\n 0.05726253 0.04370389 0.05245093 0.02452911 0.06716111 0.06179368]'

In [17]:
df

                                                      0         1
0     [0.05354883 0.03036533 0.05940507 0.04824982 0...  0.001000
1     [0.06776736 0.01694557 0.0406335  0.00381363 0...  0.151229
2     [0.06283905 0.01286736 0.01840604 0.00067786 0...  0.079737
3     [0.08251754 0.02262015 0.00563743 0.02720767 0...  0.040087
4     [0.0284824  0.00689992 0.00928959 0.07572193 0...  0.198396
...                                                 ...       ...
5313  [0.05692023 0.01337705 0.00543547 0.01432821 0... -0.013892
5314  [0.05741162 0.01629595 0.00751457 0.084512   0...  0.037842
5315  [0.04568802 0.07533786 0.0046541  0.03641526 0...  0.075892
5316  [0.03655481 0.03304982 0.08024146 0.02846621 0... -0.063929
5317  [0.04289491 0.03871175 0.0517314  0.02929078 0... -0.089172

[5318 rows x 2 columns]