In [65]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

import yfinance as yf

from scipy.optimize import Bounds
from scipy.optimize import LinearConstraint
from scipy.optimize import minimize

# from Data_Retriever import DataRetriever as DatRet
from Markowitz_PT import MarkowitzPT as MPT
from BHB_Analyzer import BHBAnalyzer as BHBA

In [4]:
# Defining stock pool
ticker_df =  pd.DataFrame()
ticker_df["Petroleum"] = ["AKRBP.OL", "EQNR.OL", "ODL.OL"]
ticker_df["Materials"] = ["NHY.OL", "NSKOG.OL", "RANA.OL"]
ticker_df["Food"] = ["LSG.OL", "MOWI.OL", "ORK.OL"]
ticker_df

  Petroleum Materials     Food
0  AKRBP.OL    NHY.OL   LSG.OL
1   EQNR.OL  NSKOG.OL  MOWI.OL
2    ODL.OL   RANA.OL   ORK.OL

In [90]:
import yfinance as yf
import pandas as pd
import itertools



class DataRetriever():

    def __init__(self, sector_df,  start_date, end_date):
        self.sector_df =  sector_df
        self.sectors = sector_df.columns
        self.start_date = start_date
        self.end_date = end_date
        self.raw_data = []
        self.returns = []
    
    def retrieve_data(self):
        for sector in range(0, len(self.sectors),1):

            sector_list = []
            sector_list_return = []

            for stock in range(0, len(self.sector_df[self.sectors[0]]),1):

                # Retrieve stock prices from yahoo finance
                ind_yf_data = yf.download(str(self.sector_df[self.sectors[sector]][stock]), 
                                          start=self.start_date, end=self.end_date)
                double_data = [[float(ind_yf_data["Open"].iloc[i].iloc[0]), float(ind_yf_data["Close"].iloc[i].iloc[0])] for i in range(len(ind_yf_data))]
                flatten_data = np.array(list(itertools.chain(*double_data)))
                sector_list.append(flatten_data)   

                # Transform the stock prices into returns
                ind_yf_data_return = np.roll(flatten_data,1)/flatten_data
                ind_yf_data_return[0] = 1
                sector_list_return.append(ind_yf_data_return)

            self.raw_data.append(sector_list)
            self.returns.append(sector_list_return)
        return "--Data retrieved successfully--"

In [91]:
alfa = yf.download("EQNR.OL", start="2022-02-19", end="2025-02-18")

[*********************100%***********************]  1 of 1 completed

In [89]:
float(alfa["Close"].iloc[0].iloc[0])

255.51744079589844

In [75]:
# double_data = [[float(alfa["Open"].iloc[i][0]), float(alfa["Close"].iloc[i][0])] for i in range(len(alfa))]
# double_data

In [62]:
flatten_data = np.array(list(itertools.chain(*double_data)))

In [64]:
len(flatten_data)

1504

In [92]:
# Retrieve data from yf API
data = DataRetriever(ticker_df, "2022-02-19", "2025-02-18")
data.retrieve_data()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

'--Data retrieved successfully--'

In [68]:
bravo = np.array([3,4,5,6])

In [73]:
np.roll(bravo,1)

array([6, 3, 4, 5])

In [77]:
bravo[0] = 0

In [78]:
bravo

array([0, 4, 5, 6])

In [54]:
data.raw_data[0][0]

Ticker        AKRBP.OL
Date
2022-02-21  200.512665
2022-02-22  205.973495
2022-02-23  204.127548
2022-02-24  219.125610
2022-02-25  208.588531
...                ...
2025-02-11  250.194061
2025-02-12  241.938446
2025-02-13  238.344803
2025-02-14  238.636185
2025-02-17  237.100006

[752 rows x 1 columns]